###Node###

logs
*.log
node_modules


###Windows###

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk


###Linux###

*~
.directory


###SublimeText###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
